#option {
    color: #eceff0;
}

#option:hover{
    color: rgb(72, 218, 72);
}

#pieDePagina{
    background-color: rgb(43, 42, 92);
    width: 100%;
    position: fixed;
    bottom: 0;
}

#bot{
    background-color: rgb(132, 190, 43);
}

